@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Silk Flower";
  src: url("./assets/fonts/SilkFlowerDemo-Regular.woff2") format("woff2"), url("./assets/fonts/SilkFlowerDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --jacarta: #3a345b;
  --pink: #d183a9;
  --light-pink: #f3c8dd;
  --tooltip-opacity: 0;
  --tooltip-text: "basic ";
}

@keyframes moveDown {
  100% {
    transform: translateY(45vh);
  }
}
@keyframes spaceOut {
  100% {
    letter-spacing: 10px;
  }
}
@keyframes appear {
  100% {
    opacity: 100%;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--jacarta);
  color: var(--pink);
  margin: 0;
  max-width: 100vw;
  cursor: url("./assets/images/cursor.cur") 0 0, auto;
}

i {
  color: var(--pink);
}

#theme-container {
  z-index: 10000;
  position: fixed;
  margin-top: 5vh;
}

#theme {
  width: 8vw;
}

#theme:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  margin-bottom: 10vh;
  width: 100%;
}

.image-and-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 1vh;
}

.image-and-text img {
  width: 25vw;
  margin-right: 5vw;
  border-radius: 5vw;
}

#top-bar {
  z-index: 100000;
  position: fixed;
  background-color: var(--pink);
  width: 100vw;
  padding-left: 0;
  margin: 0;
  opacity: 0%;
  animation: appear 10s ease-in-out;
  animation-timeline: scroll(block root);
  animation-range: 20vh 40vh;
  animation-fill-mode: forwards;
}

#nav {
  margin: 0;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#nav a {
  font-family: "Silk Flower";
  text-decoration: none;
  font-weight: 500;
  font-size: 2vw;
}

#nav a:hover {
  text-shadow: 1px 1px 1vw var(--jacarta);
}

.nav-item {
  color: var(--jacarta);
}

#progress-bar-container {
  background-color: var(--pink);
  height: 2vh;
  width: 100vw;
}

#progress-bar {
  margin-top: 1vh;
  position: fixed;
  width: 0vw;
  margin: auto;
  height: 1vh;
  border-radius: 10px;
  background-color: var(--jacarta);
  max-width: 100vw;
}

#hello {
  margin: 0;
  z-index: 0;
  font-size: 6vw;
  line-height: 100vh;
  width: 100vw;
  height: 100vh;
  animation: moveDown 7s ease-in-out;
  animation-timeline: scroll(block root);
  animation-range: 0vh 20vh;
  animation-fill-mode: forwards;
  color: var(--pink);
}

#haya {
  margin: 0;
  font-size: 6vw;
}
#haya::before {
  content: "​";
  content: "​"/"I'm Haya";
  alt: "I'm Haya";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 11.1s linear 1s 1 forwards, typed-0-final 2s linear 12.1s 1 forwards;
}
@keyframes typed-0-final {
  0%, 12.5% {
    content: "​I";
    content: "​I"/"I'm Haya";
    alt: "I'm Haya";
  }
  12.501%, 25% {
    content: "​I'";
    content: "​I'"/"I'm Haya";
    alt: "I'm Haya";
  }
  25.001%, 37.5% {
    content: "​I'm";
    content: "​I'm"/"I'm Haya";
    alt: "I'm Haya";
  }
  37.501%, 50% {
    content: "​I'm ";
    content: "​I'm "/"I'm Haya";
    alt: "I'm Haya";
  }
  50.001%, 62.5% {
    content: "​I'm H";
    content: "​I'm H"/"I'm Haya";
    alt: "I'm Haya";
  }
  62.501%, 75% {
    content: "​I'm Ha";
    content: "​I'm Ha"/"I'm Haya";
    alt: "I'm Haya";
  }
  75.001%, 87.5% {
    content: "​I'm Hay";
    content: "​I'm Hay"/"I'm Haya";
    alt: "I'm Haya";
  }
  87.501%, 100% {
    content: "​I'm Haya";
    content: "​I'm Haya"/"I'm Haya";
    alt: "I'm Haya";
  }
}
#haya::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1vw solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 2.2512522523% {
    content: "​I";
    content: "​I"/"I'm Haya";
    alt: "I'm Haya";
  }
  2.2522522523%, 4.5035045045% {
    content: "​I'";
    content: "​I'"/"I'm Haya";
    alt: "I'm Haya";
  }
  4.5045045045%, 6.7557567568% {
    content: "​I'm";
    content: "​I'm"/"I'm Haya";
    alt: "I'm Haya";
  }
  6.7567567568%, 9.008009009% {
    content: "​I'm ";
    content: "​I'm "/"I'm Haya";
    alt: "I'm Haya";
  }
  9.009009009%, 11.2602612613% {
    content: "​I'm H";
    content: "​I'm H"/"I'm Haya";
    alt: "I'm Haya";
  }
  11.2612612613%, 13.5125135135% {
    content: "​I'm Ha";
    content: "​I'm Ha"/"I'm Haya";
    alt: "I'm Haya";
  }
  13.5135135135%, 15.7647657658% {
    content: "​I'm Hay";
    content: "​I'm Hay"/"I'm Haya";
    alt: "I'm Haya";
  }
  15.7657657658%, 64.8638648649% {
    content: "​I'm Haya";
    content: "​I'm Haya"/"I'm Haya";
    alt: "I'm Haya";
  }
  64.8648648649%, 66.6656666667% {
    content: "​I'm Hay";
    content: "​I'm Hay"/"I'm Haya";
    alt: "I'm Haya";
  }
  66.6666666667%, 68.4674684685% {
    content: "​I'm Ha";
    content: "​I'm Ha"/"I'm Haya";
    alt: "I'm Haya";
  }
  68.4684684685%, 70.2692702703% {
    content: "​I'm H";
    content: "​I'm H"/"I'm Haya";
    alt: "I'm Haya";
  }
  70.2702702703%, 72.0710720721% {
    content: "​I'm ";
    content: "​I'm "/"I'm Haya";
    alt: "I'm Haya";
  }
  72.0720720721%, 73.8728738739% {
    content: "​I'm";
    content: "​I'm"/"I'm Haya";
    alt: "I'm Haya";
  }
  73.8738738739%, 75.6746756757% {
    content: "​I'";
    content: "​I'"/"I'm Haya";
    alt: "I'm Haya";
  }
  75.6756756757%, 77.4764774775% {
    content: "​I";
    content: "​I"/"I'm Haya";
    alt: "I'm Haya";
  }
  77.4774774775%, 100% {
    content: "​";
    content: "​"/"I'm Haya";
    alt: "I'm Haya";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}

hr {
  width: 100%;
  border-top: 1vw dotted var(--pink);
  border-bottom: none;
  border-right: none;
  border-left: none;
}

h1,
h2,
h3,
p {
  font-family: "Silk Flower", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--pink);
}

.general-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  text-align: justify;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3vw;
  margin: 0;
  animation-timeline: scroll(block root);
  letter-spacing: normal;
  margin-top: 1vh;
}

#about-me {
  margin-top: 2vh;
}

/* ALL PROJECTS SECTION */
#all-projects {
  margin-bottom: 1vh;
  font-size: 6vw;
}
#all-projects::before {
  content: "​";
  content: "​"/"All Projects";
  alt: "All Projects";
  white-space: break-spaces;
  will-change: content;
  animation: typed-1 12.9s linear 1s 1 forwards, typed-1-final 3s linear 13.9s 1 forwards;
}
@keyframes typed-1-final {
  0%, 8.3333333333% {
    content: "​A";
    content: "​A"/"All Projects";
    alt: "All Projects";
  }
  8.3343333333%, 16.6666666667% {
    content: "​Al";
    content: "​Al"/"All Projects";
    alt: "All Projects";
  }
  16.6676666667%, 25% {
    content: "​All";
    content: "​All"/"All Projects";
    alt: "All Projects";
  }
  25.001%, 33.3333333333% {
    content: "​All ";
    content: "​All "/"All Projects";
    alt: "All Projects";
  }
  33.3343333333%, 41.6666666667% {
    content: "​All P";
    content: "​All P"/"All Projects";
    alt: "All Projects";
  }
  41.6676666667%, 50% {
    content: "​All Pr";
    content: "​All Pr"/"All Projects";
    alt: "All Projects";
  }
  50.001%, 58.3333333333% {
    content: "​All Pro";
    content: "​All Pro"/"All Projects";
    alt: "All Projects";
  }
  58.3343333333%, 66.6666666667% {
    content: "​All Proj";
    content: "​All Proj"/"All Projects";
    alt: "All Projects";
  }
  66.6676666667%, 75% {
    content: "​All Proje";
    content: "​All Proje"/"All Projects";
    alt: "All Projects";
  }
  75.001%, 83.3333333333% {
    content: "​All Projec";
    content: "​All Projec"/"All Projects";
    alt: "All Projects";
  }
  83.3343333333%, 91.6666666667% {
    content: "​All Project";
    content: "​All Project"/"All Projects";
    alt: "All Projects";
  }
  91.6676666667%, 100% {
    content: "​All Projects";
    content: "​All Projects"/"All Projects";
    alt: "All Projects";
  }
}
#all-projects::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1vw solid currentColor;
  white-space: nowrap;
  animation: typed-1-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-1 {
  0%, 1.9369844961% {
    content: "​A";
    content: "​A"/"All Projects";
    alt: "All Projects";
  }
  1.9379844961%, 3.8749689922% {
    content: "​Al";
    content: "​Al"/"All Projects";
    alt: "All Projects";
  }
  3.8759689922%, 5.8129534884% {
    content: "​All";
    content: "​All"/"All Projects";
    alt: "All Projects";
  }
  5.8139534884%, 7.7509379845% {
    content: "​All ";
    content: "​All "/"All Projects";
    alt: "All Projects";
  }
  7.7519379845%, 9.6889224806% {
    content: "​All P";
    content: "​All P"/"All Projects";
    alt: "All Projects";
  }
  9.6899224806%, 11.6269069767% {
    content: "​All Pr";
    content: "​All Pr"/"All Projects";
    alt: "All Projects";
  }
  11.6279069767%, 13.5648914729% {
    content: "​All Pro";
    content: "​All Pro"/"All Projects";
    alt: "All Projects";
  }
  13.5658914729%, 15.502875969% {
    content: "​All Proj";
    content: "​All Proj"/"All Projects";
    alt: "All Projects";
  }
  15.503875969%, 17.4408604651% {
    content: "​All Proje";
    content: "​All Proje"/"All Projects";
    alt: "All Projects";
  }
  17.4418604651%, 19.3788449612% {
    content: "​All Projec";
    content: "​All Projec"/"All Projects";
    alt: "All Projects";
  }
  19.3798449612%, 21.3168294574% {
    content: "​All Project";
    content: "​All Project"/"All Projects";
    alt: "All Projects";
  }
  21.3178294574%, 63.5648914729% {
    content: "​All Projects";
    content: "​All Projects"/"All Projects";
    alt: "All Projects";
  }
  63.5658914729%, 65.1152790698% {
    content: "​All Project";
    content: "​All Project"/"All Projects";
    alt: "All Projects";
  }
  65.1162790698%, 66.6656666667% {
    content: "​All Projec";
    content: "​All Projec"/"All Projects";
    alt: "All Projects";
  }
  66.6666666667%, 68.2160542636% {
    content: "​All Proje";
    content: "​All Proje"/"All Projects";
    alt: "All Projects";
  }
  68.2170542636%, 69.7664418605% {
    content: "​All Proj";
    content: "​All Proj"/"All Projects";
    alt: "All Projects";
  }
  69.7674418605%, 71.3168294574% {
    content: "​All Pro";
    content: "​All Pro"/"All Projects";
    alt: "All Projects";
  }
  71.3178294574%, 72.8672170543% {
    content: "​All Pr";
    content: "​All Pr"/"All Projects";
    alt: "All Projects";
  }
  72.8682170543%, 74.4176046512% {
    content: "​All P";
    content: "​All P"/"All Projects";
    alt: "All Projects";
  }
  74.4186046512%, 75.9679922481% {
    content: "​All ";
    content: "​All "/"All Projects";
    alt: "All Projects";
  }
  75.9689922481%, 77.518379845% {
    content: "​All";
    content: "​All"/"All Projects";
    alt: "All Projects";
  }
  77.519379845%, 79.0687674419% {
    content: "​Al";
    content: "​Al"/"All Projects";
    alt: "All Projects";
  }
  79.0697674419%, 80.6191550388% {
    content: "​A";
    content: "​A"/"All Projects";
    alt: "All Projects";
  }
  80.6201550388%, 100% {
    content: "​";
    content: "​"/"All Projects";
    alt: "All Projects";
  }
}
@keyframes typed-1-caret {
  75% {
    border-color: transparent;
  }
}

.recent-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
  width: 70vw;
}

.recent-projects div img {
  max-width: 30vw;
  border-radius: 1vw;
}

.recent-projects div p {
  font-size: 2vw;
  margin-top: 0.5vh;
}

.see-all {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.see-all a {
  color: var(--pink);
}

/* BLOG SUMMARY PAGE */
#all-blogs {
  margin-bottom: 1vh;
  font-size: 6vw;
}
#all-blogs::before {
  content: "​";
  content: "​"/"Posts";
  alt: "Posts";
  white-space: break-spaces;
  will-change: content;
  animation: typed-2 9.75s linear 1s 1 forwards, typed-2-final 1.25s linear 10.75s 1 forwards;
}
@keyframes typed-2-final {
  0%, 20% {
    content: "​P";
    content: "​P"/"Posts";
    alt: "Posts";
  }
  20.001%, 40% {
    content: "​Po";
    content: "​Po"/"Posts";
    alt: "Posts";
  }
  40.001%, 60% {
    content: "​Pos";
    content: "​Pos"/"Posts";
    alt: "Posts";
  }
  60.001%, 80% {
    content: "​Post";
    content: "​Post"/"Posts";
    alt: "Posts";
  }
  80.001%, 100% {
    content: "​Posts";
    content: "​Posts"/"Posts";
    alt: "Posts";
  }
}
#all-blogs::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1vw solid currentColor;
  white-space: nowrap;
  animation: typed-2-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-2 {
  0%, 2.5631025641% {
    content: "​P";
    content: "​P"/"Posts";
    alt: "Posts";
  }
  2.5641025641%, 5.1272051282% {
    content: "​Po";
    content: "​Po"/"Posts";
    alt: "Posts";
  }
  5.1282051282%, 7.6913076923% {
    content: "​Pos";
    content: "​Pos"/"Posts";
    alt: "Posts";
  }
  7.6923076923%, 10.2554102564% {
    content: "​Post";
    content: "​Post"/"Posts";
    alt: "Posts";
  }
  10.2564102564%, 66.1528461538% {
    content: "​Posts";
    content: "​Posts"/"Posts";
    alt: "Posts";
  }
  66.1538461538%, 68.2041282051% {
    content: "​Post";
    content: "​Post"/"Posts";
    alt: "Posts";
  }
  68.2051282051%, 70.2554102564% {
    content: "​Pos";
    content: "​Pos"/"Posts";
    alt: "Posts";
  }
  70.2564102564%, 72.3066923077% {
    content: "​Po";
    content: "​Po"/"Posts";
    alt: "Posts";
  }
  72.3076923077%, 74.357974359% {
    content: "​P";
    content: "​P"/"Posts";
    alt: "Posts";
  }
  74.358974359%, 100% {
    content: "​";
    content: "​"/"Posts";
    alt: "Posts";
  }
}
@keyframes typed-2-caret {
  75% {
    border-color: transparent;
  }
}

.blog-post {
  width: 100%;
  margin-top: 3vh;
}

.blog-post a {
  font-family: "Silk Flower";
  color: var(--pink);
  font-size: 2vw;
}

.blog-post div {
  display: flex;
  flex-direction: row;
}

.blog-post p {
  font-size: 1.25vw;
  width: 50%;
}

.blog-post hr {
  border-top: 0.5vw dotted var(--pink);
}

.blog-post-date {
  width: 50%;
  text-align: right;
}

table {
  width: 70vw;
  margin-top: 3vh;
}

td {
  width: 17.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr {
  display: flex;
  margin-bottom: 2vh;
}

td img {
  width: 11vw;
  border-radius: 1vw;
  padding: 2vh;
  background-color: var(--light-pink);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 var(--pink), 0 6px 15px 0 var(--pink);
}

td p {
  width: 13vw;
}

.b {
  width: 16.6%;
}

.ib {
  width: 33.3%;
}

.i {
  width: 50%;
}

.a {
  width: 66.6%;
}

.e {
  width: 83.3%;
}

.level-container {
  width: 12.5vw;
  height: 1.15vw;
  border-radius: 1vw;
  border: 2px solid var(--pink);
  border-color: var(--pink);
  position: relative;
  margin-top: 2vh;
}

.level {
  height: 1.15vw;
  border-radius: 1vw;
  background-color: var(--pink);
  color: var(--jacarta);
  position: absolute;
  top: 0;
  margin: 0;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(tooltip-text);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 1vw;
  color: var(--jacarta);
  left: 2vw;
  top: calc(100% + 1vh);
  border-radius: 1vw;
  box-shadow: 0 0 5px 2px var(--pink);
  background-color: var(--light-pink);
  z-index: 10;
  padding: 1vw;
  width: 8.75vw;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tooltip:hover::after {
  opacity: var(--tooltip-opacity);
  transform: translateY(0);
  transition-duration: 300ms;
}

.tooltip img:hover {
  width: 15vw;
  transition-duration: 300ms;
}

/*
to do for esponsiveness
- make theme icon smaller
- remove page margin
- make text a bit bigger
- make tables in a single or double column
*/

/*# sourceMappingURL=styles.css.map */
